# Copy this file to .env and fill in your values
NODE_ENV=development
PORT=5000
MONGO_URI=mongodb+srv://Dev-RW-DB-User:hFVFUZZVtpBi5tOX@okrew-dev-database.q0774ba.mongodb.net/?appName=OKRew-dev-database
JWT_SECRET=F3cNk6KKaCbODu01NclatsoBDkaO2Ot8z3VKF3WN6Tc
