# Copy this file to .env and fill in your values
NODE_ENV=development
PORT=5000
MONGO_URI=mongodb+srv://Dev-RW-DB-User:49hbF2mNpL6r3Mfr@okrew-dev-database.q0774ba.mongodb.net/?appName=OKRew-dev-database
JWT_SECRET=fe34dc593126e96ac4c5c7352268831fdf0665e564e0f06978aa5ce6df15d317
