.okrdashboard{
    padding:40px;
    background:#fafafa;
    min-height: 100vh;
    color: #1f1e40;
}

.dashboard-header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    padding: 20px;
    border: 1px solid #d9dfea;
    border-radius: 15px;
    margin-bottom: 30px;
}

.dashboard-title{

    display:flex;
    align-items: center;
    gap: 20px;
}

.dashboard-title h1 {
    margin: 0;
    font-size: 40px;
    font-family: avenir;
    color: #1f1e40
}

.logo {
    width: 40px;
    height: auto;
}

.statistics{
    display: flex;
    gap: 30px;
    margin-bottom: 30px;
}

.card{
    flex:1;
    background: white;
    border: 1px solid #d9dfea;
    border-radius: 15px;
    padding:25px;
}

.cards-line{
    width: 100%;
    height: 5px;
    border-radius: 10px;
    margin-bottom: 28px;
}

.cards-blue .cards-line{
    background: #72cdf4;
}

.cards-blue h2{
    color: #72cdf4;
}

.cards-green .cards-line{
    background: #00b085;
}

.cards-green h2{
    color: #00b085;
}

.cards-navy .cards-line{
    background: #1f1e40;
}

.cards-navy h2{
    color: #1f1e40;
}

.bottom-section{
    display:flex;
    gap:30px;
    margin-bottom: 30px;
}

.completion-overview{
    flex:1;
    background:white;
    border: 1px solid #d9dfea;
    border-radius: 15px;
    padding:25px;
}

.progress-row{
    display:flex;
    align-items: center;
    gap: 15px;
    margin-top: 25px;
}

.progress-row span:first-child{
    width: 100px;
}

.progress-row progress{
    flex: 1;
    height: 20px;
    appearance: none;
    -webkit-appearance: none;
}

.progress-row progress::-webkit-progress-bar{
    background: #edf1f7;
    border-radius: 10px;
}

.progress-row progress::-webkit-progress-value{
    border-radius: 10px;
}

.progress-row:nth-child(2) progress::-webkit-progress-value{
    background: #72cdf4;
}

.progress-row:nth-child(3) progress::-webkit-progress-value{
    background: #72cdf4;
}

.progress-row:nth-child(4) progress::-webkit-progress-value{
    background: #1f1e40;
}

.progress-row:nth-child(5) progress::-webkit-progress-value{
    background: #00b085;
}

.progress-row:nth-child(6) progress::-webkit-progress-value{
    background: #1f1e40;
}
/*firefox support*/
.progress-row progress::-moz-progress-bar{
    border-radius: 10px;
}

.progress-row:nth-child(2) progress::-moz-progress-bar{
    background: #72cdf4;
}

.progress-row:nth-child(3) progress::-moz-progress-bar{
    background: #72cdf4;
}

.progress-row:nth-child(4) progress::-moz-progress-bar{
    background: #1f1e40;
}

.progress-row:nth-child(5) progress::-moz-progress-bar{
    background: #00b085;
}

.progress-row:nth-child(6) progress::-moz-progress-bar{
    background: #1f1e40;
}

.week-statistics{
    flex:1;
    background:white;
    border: 1px solid #d9dfea;
    border-radius: 15px;
    padding:25px;
}

.graph-container{
    display:flex;
    justify-content:space-around;
    margin-top: 40px;
}

.circle{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: #ddd;
    display:flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
}

.circle1{
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background: #72cdf4;
    display:flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
}

.circle2{
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background: #00b085;
    display:flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
}

.circle3{
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background: #1f1e40;
    display:flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
}

.texter {
    font-size:14px;
    text-align: center;
    
}